#navBar {
  width: 20%;
  background-color: var(--gris);
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-top: 0;
  border-right: 1px;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
  border-color: black;
  z-index: 99;
}

#navBarOffCanvas {
  display: none;
}

#cerrar {
  display: none;
}

#topNavBar {
  display: none;
}

#imagenPerfil {
  width: 75%;
  margin-left: 12%;
  margin-top: 10%;
}

.nombre,
.puesto {
  width: 100%;
  text-align: center;
}

.menu {
  width: 100%;
  height: 3rem;
  border: 1px;
  border-color: black;
  border-style: solid;
  border-right: 0;
  border-left: 0;
  text-align: left;
  font-size: 1.2em;
}

.navegacion {
  border-bottom: 0;
}

.btnDashboard {
  background-color: var(--naranja);
}

button i {
  vertical-align: text-bottom;
  padding: 0 3px 0 3px;
}

#cerrarSesion {
  position: absolute;
  background-color: var(--rojo);
  bottom: 0;
  left: 0;
}

.menu:hover {
  background-color: var(--naranja);
}

@media screen and (max-width: 1120px) {
  #navBar {
    display: none;
  }

  #imagenPerfil {
    width: 50%;
    transform: translate(-50%, 0);
    margin-left: 50%;
    margin-top: 10%;
  }

  #navBarOffCanvas {
    display: none;
    width: 100%;
    z-index: 110;
    overflow-x: hidden;
    background-color: var(--gris);
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
  }

  #topNavBar {
    display: block;
    position: sticky;
    width: 100%;
    height: 9vh;
    background-color: var(--naranjaOscuro);
    z-index: 100;
  }

  #topNavBar button {
    height: 100%;
    width: 20%;
    background-color: transparent;
    border: none;
  }

  #topNavBar i {
    font-size: 5vh;
    color: white;
  }

  #cerrar {
    position: absolute;
    height: 9vh;
    width: 20%;
    background-color: transparent;
    border: none;
    display: block;
  }

  #cerrar i {
    font-size: 5vh;
    color: var(--rojo);
  }

  #logoNavBar {
    float: right;
    height: 100%;
  }
}
